<% provide(:title, 'Home') %>
<div class="small-12 medium-12 column">
  <h1>Welcome to the Touchdown Club</h1>
  <p>This application is designed to provide easy access to Madden Player Ratings</p>
</div>
