<% provide(:title, @user.name) %>
<div class="row">
<div class="container">
  <aside class="small-12 medium-4 column">
      <%= gravatar_for @user %>
  </aside>
  <section class="small-12 medium-7 column">
    <h1>
        <%= @user.name %>
      </h1>
  </section>
</div>
</div>