<div class="row">
  <footer>
    <div class="small-12 medium-4 column">
      <h5>1item</h5>
    </div>
    <div class="small-12 medium-4 column">
      <h5>2item</h5>
    </div>
    <div class="small-12 medium-4 column">
      <h5>3item</h5>
    </div>
  </footer>
</div>